<footer class="footer">
  <div class="container">
    <div class="copyright">&copy; 2025 Participation. All rights reserved.</div>
    <div class="links">
      <a href="#">Terms of Service</a>
      <a href="#">Privacy Policy</a>
      <!-- <a href="#">Contact Us</a> -->
      <a href="#">Made with ❤️ by Anshul Khadatkar </a>
    </div>
    <div class="social-links">
      <a href="#" class="social-link">Facebook</a>
      <a href="#" class="social-link">Twitter</a>
      <a href="#" class="social-link">Instagram</a>
      <a href="#" class="social-link">LinkedIn</a>
    </div>
  </div>
</footer>
