<header class="header">
  <div class="header-container">
    <div class="logo">
      <a routerLink="/">Participation</a>
    </div>
    <nav class="nav-links">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active"
        >Login</a
      >
      <a *ngIf="isLoggedIn" routerLink="/dashboard" routerLinkActive="active"
        >Dashboard</a
      >
      <a *ngIf="isLoggedIn" routerLink="/profile" routerLinkActive="active"
        >Profile</a
      >
      <a *ngIf="isLoggedIn" href="javascript:void(0)" (click)="logout()"
        >Logout</a
      >
    </nav>
  </div>
</header>
